@model PontuacaoViewModel

<div class="container mt-4">
	<form asp-action="Enviar" method="post" enctype="multipart/form-data">
		<input value="@ViewBag.operacao" name="operacao" hidden />
		<input value="@Model.id" asp-for="id" hidden />

		<div class="form-group">
			<label asp-for="jogo.id" class="control-label"> Nome do Jogo </label>
			<select asp-for="jogo.id">
				@foreach (var jogo in ViewBag.jogos)
				{
					<option value="@jogo.id">@jogo.descricao</option>
				}
			</select>
			<span asp-validation-for="jogo.id" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="jogador.id" class="control-label"> Nome do Jogador </label>
			<select asp-for="jogador.id">
				@foreach (var jogador in ViewBag.jogadores)
				{
					<option value="@jogador.id">@jogador.nome</option>
				}
			</select>
			<span asp-validation-for="jogador.id" class="text-danger"></span>
		</div>


		<div class="form-group">
			<label asp-for="pontos" class="control-label"> Pontuação </label>
			<input asp-for="pontos" type="number" class="form-control" />
			<span asp-validation-for="pontos" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="dataPartida" class="control-label"> Data da Partida </label>
			<input asp-for="dataPartida" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
			<span asp-validation-for="dataPartida" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-success">Salvar</button>
		<a href="@Url.Action("Index", "home")" class="btn btn-secondary">Cancelar</a>
	</form>
</div>