<main class="container">
	<div class="container">
		<div class="mb-3">
			<a href="@Url.Action("Index", "Home")" class="btn btn-secondary btn-sm">Voltar à Home</a>
			<a href="@Url.Action("insert", "pontuacao")" class="btn btn-success btn-sm">Criar Novo Registro</a>
		</div>
		<fieldset id="area_filtro" class="form-group main-section">
			<legend>Filtro de pesquisa</legend>
			<div class="row linha">
				<div class="col-md-3">
					<label class="form-label"><b>Buscar Por:</b></label>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="opcao" id="opcao1" value="0" checked onclick="toggleInput()" />
						<label class="form-check-label" for="opcao1">Pesquisar por Jogo</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="opcao" id="opcao2" value="1" onclick="toggleInput()" />
						<label class="form-check-label" for="opcao2">Pesquisar por Jogador</label>
					</div>
				</div>
				<div class="col-md-5" id="EscolhaDiv">
					<label for="Escolha" class="form-label"><b>Jogo</b></label>
					<select id="Escolha">
						@foreach (JogoViewModel jogo in ViewBag.jogos)
						{
							<option value="@jogo.id">@jogo.nome</option>
						}
					</select>
				</div>
				<div class="col-md-5" id="EscolhaDivJogador" style="display: none;">
					<label for="EscolhaJogador" class="form-label"><b>Jogador</b></label>
					<select id="EscolhaJogador">
						@foreach (JogadorViewModel jogador in ViewBag.jogadores)
						{
							<option value="@jogador.id">@jogador.nome</option>
						}
					</select>
				</div>
			</div>
			<div class="row linha">
				<div class="col-md-12 d-flex align-items-center">
					<input type="button" name="pesquisar" id="pesquisar" value="Pesquisar" onclick="pesquisar()" class="btn btn-primary btn-sm w-100" />
				</div>
			</div>
		</fieldset>
	</div>
	<div id="resultadoConsulta" class="table-responsive"></div>
</main>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		toggleInput();
	});

	function toggleInput() {
		var opcao = document.querySelector('input[name="opcao"]:checked').value;
		document.getElementById("EscolhaDiv").style.display = opcao == "0" ? "block" : "none";
		document.getElementById("EscolhaDivJogador").style.display = opcao == "1" ? "block" : "none";
	}

	function pesquisar() {
		var vOpcao = document.querySelector('input[name="opcao"]:checked').value;
		var vValor = vOpcao == "0" ? document.getElementById('Escolha').value : document.getElementById('EscolhaJogador').value;
		$.ajax({
			url: "/Pontuacao/PesquisaAvancada",
			data: { id: vValor, opcao: vOpcao },
			success: function (dados) {
				if (dados.erro != undefined) {
					alert(dados.msg);
				} else {
					document.getElementById('resultadoConsulta').innerHTML = dados;
				}
			}
		});
	}
</script>
