@model List<JogadorViewModel>
<div class="container mt-4">
    <!-- Botões acima da tabela -->
    <div class="mb-3">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary btn-sm">Voltar à Home</a>
        <a href="@Url.Action("insert", "Jogador")" class="btn btn-success btn-sm">Criar Novo Registro</a>
    </div>

    <h2>Lista de Jogadores</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th asp-for="Id">ID</th>
                <th asp-for="nome">Nome</th>
                <th asp-for="descricao">Email</th>
                <th asp-for="descricao">Idade</th>

                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Jogador in Model)
            {
                <tr>
                    <td>@Jogador.id</td>
                    <td>@Jogador.nome</td>
                    <td>@Jogador.email</td>
                    <td>@Jogador.idade</td>


                    <td>
                        <a asp-controller="jogador" asp-action="update" asp-route-id="@Jogador.id" class="btn btn-primary btn-sm">Editar</a>
                        <button type="button" class="btn btn-danger btn-sm" onclick="ApagarModel(@Jogador.id)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ApagarModel(id) {
        if (confirm("Confirmar a exclusão do registro?")) {
            location.href = "jogador/Delete?Id=" + id;
        }
    }
</script>